*,
*:after?
*:before {
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #dccfe7;
	color: #6d5384;
	font: 13px/2.3 'Roboto', sans-serif;
}
img {
	border: 0;

}
a {
	color: #6d5384;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
.container {
	width: 1140px;
	margin: 0 auto;
}
.visual {
	background: url(../image/bgvisual.png);

}
.header {
	padding: 20px 0;
	margin-bottom: 70px;
}
.header:after {
	content: '';
	display: block;
	clear: both;
}
.logo {
	float: left;
}
.nav {
	float: right;
}
.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.nav li {
	float: left;
	position: relative;
}
.nav li a {
	color: #fff;
	margin: 0 0 0 10px;
	text-transform: uppercase;
	border: 1px solid #9884aa;
	display: block;
	width: 140px;
	line-height: 35px;
	padding: 10px 0;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
	font-size: 18px;
	font-weight: bold; 
	position: relative;
	transition: all 0.3s
}
.nav li:hover a {
	background: #f7df59;
	border-color: #f7df59;
	box-shadow: 0 3px 0 0 #4c2f65;
}
.nav li a:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 8px 0 8px;
	border-color: #f7df59 transparent transparent transparent;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: all 0.3s

}
.nav ul ul a,
.nav ul li:hover li a {
            background: url(../image/bgvisual.png);
            color: #fff;
            border-color: #9884aa;
}
.nav li a:hover:after {
	opacity: 1;
}
.nav ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	opacity: 0;
	visibility: hidden;
}
.nav ul li:hover ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}
.nav ul li ul li:hover a {
	background: #f7df59;
	border-color: #f7df59;
	box-shadow: none;
}
.tempees {
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 50px;
}
.tempees p:first-child {
	text-align: center;	
	font-size: 112px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-weight: 900;
	margin: 0 0 17px 0;
    line-height: 112px;
}
.tempees span {
	color: #ead7fb;
}
.tempees p:nth-child(2) {
	font-size: 34px;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 34px;
	margin: 0;
	padding:0 0 45px 0;
	border-bottom: 2px solid #9884aa; 

}
.joinus {
	text-align: center;
	color: #d8d1de;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 28px;
	letter-spacing: -0.014em
	margin 0 0 50px 0;
}
.container2 .sign  {
	width: 304px;
	margin: 0 auto;
	position: relative;
}
.sign ul {
	margin: 0;
	padding: 0 0 153px 0;
	list-style: none;
}
.sign li{
	float: left;
}
.sign li a {
	margin: 0 5px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fefefe;
	font: 900 18px Roboto, sans-serif;
	border: 1px solid #9884aa;
	border-radius: 4px;
	text-align: center;
	width: 140px;
	line-height: 35px;
	padding: 10px 0; 
	display: block;
}
.sign li a:hover {
	color: #fff;
	background: #69c7e2;
	border-color: #69c7e2;
	box-shadow: 0 3px 0 0 #4c2f65;
}
.sign:after {
	content: '';
	display: block;
	clear: both;
}


.main {
	height: 400px;
	background: url(../image/bgmain.png);
}